blockquote {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}
.blockquote {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 0;
  margin-left: 1.5em;
}

h1, h2 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;

}


body {
  font-family: Baskerville;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('cover.jpg')


}

xscratch {
  font-family: Baskerville;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}


.sitenav {
  font-size: medium;
}

.text {
  font-family: Baskerville;
  background-color: #FFF1DC;  
  font-size: x-large;

  line-height: 1.25; /* Increase the line spacing */
  margin-top: 0;
  margin-bottom: 2; /*between paragraphs */
  text-indent: 1.2em;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}

.nav, .footer {
  font-family: Baskerville;
  background-color: rgba(255,255,255,0);  

  widows: 1;
  orphans: 1;
  font-size: large;
  margin-top: 100px;
  margin-right: 0%;
  margin-bottom: 100px;
  margin-left: 0%;
  text-align: left;
}

pcopy {
  line-height: 1.25; /* Increase the line spacing */
  margin-top: 0;
  margin-bottom: 2; /*between paragraphs */
  text-indent: 1.2em;
}


}
img {
  max-height: 100%;
  max-width: 100%;
}

}
xhr {
  margin-top: 1em;
  margin-right: 40%;
  margin-bottom: 0.9em;
  margin-left: 40%;
  border-top: 2px solid;
}

hr {
width: 100%;
margin: auto;
}
.cover {
  text-align: center;
  text-indent: 0;
  height: 100%;
}